---
import Layout from "../layouts/Layout.astro";
const skinColor = "navy";
---

<Layout title="About page">
  <h1>Hello, Astro!</h1>
  <a class="skills" href="/">Go back home</a>
</Layout>

<style define:vars={{skinColor}}>
  h1 {
    color: purple;
    font-size: 4rem;
  }

  .skills {
    color: var(--skinColor);
  }
</style>
